<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title th:text="${titulo}"></title>
	<meta charset="UTF-8" />
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>

<body>

	<div class="container">
		<section th:insert="~{componentes/tiempo :: interceptor}"></section>
		<div>
			<span th:text="${horario}"></span>
		</div>

		<h2 th:text="${titulo}"></h2>
		<form th:action="@{/form}" th:object="${user}" method="post" autocomplete="off">
			<div class="form-check">
				<label class="form-check-label" for="habilitar">Habilitar</label>
				<input class="form-check-input" type="checkbox" id="habilitar" th:field="*{habilitar}" />
			</div>

			<div class="form-group">
				<label>Sexo</label>
				<div class="form-check form-check-inline" th:each="s: ${sexo}">
					<input class="form-check-input" type="radio" th:field="*{sexo}" th:value="${s}" />
					<label class="form-check-label" th:for="${#ids.prev('sexo')}" th:text="${s}"></label>
				</div>
				<div class="text-danger" th:if="${#fields.hasErrors('sexo')}" th:errors="*{sexo}"></div>
			</div>

			<div>
				<label for="pais">Pais</label>
				<select class="form-select" id="pais" th:field="*{pais}">
					<option value="">--Seleccione pais--</option>
					<!-- Pasando lista a select -->
					<!--<option th:each="p: ${paises}" th:text="${p}" th:value="${p}"></option>-->
					<!-- Pasando mapa a select -->
					<!-- <option th:each="p: ${paisesMap.entrySet()}" th:text="${p.value}" th:value="${p.key}"></option>-->
					<!-- Pasando lista de objetos a select -->
					<!-- Pasando mapa a select -->
					<option th:each="p: ${listaPaises}" th:text="${p.nombre}" th:value="${p.idPais}"></option>
				</select>

				<div class="text-danger" th:if="${#fields.hasErrors('pais')}" th:errors="*{pais}"></div>
			</div>
			<div class="form-group">
				<label>Roles</label>
				<!-- Pasando lista de strings a checkbox -->
				<!--<div th:each="role: ${listaRolesStr}">
				<input type="checkbox" th:value="${role}" th:field="*{roles}" />
				<label th:for="${#ids.prev('roles')}" th:text="${role}"></label>
			</div>-->
				<!-- Pasando mapa a checkbox -->
				<!--<div th:each="role: ${listaRolesMap.entrySet()}">
				<input type="checkbox" th:value="${role.key}" th:field="*{roles}" />
				<label th:for="${#ids.prev('roles')}" th:text="${role.value}"></label>
			</div>-->
				<!-- Pasando lista de roles a checkbox -->
				<div class="form-check" th:each="role: ${listaRoles}">
					<input class="form-check-input" type="checkbox" th:value="${role.id}" th:field="*{roles}"
						th:checked="${#lists.contains(user.roles, role)}" />
					<label class="form-check-label" th:for="${#ids.prev('roles')}" th:text="${role.nombre}"></label>
				</div>
				<div class="text-danger" th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}"></div>
			</div>
			<div class="form-group">
				<label for="identificador">Identificador</label>
				<div>
					<input class="form-control" type="text" id="identificador" th:field="*{idUsuario}" />
				</div>
				<div class="text-danger" th:if="${#fields.hasErrors('idUsuario')}" th:errors="*{idUsuario}"></div>
			</div>
			<div class="form-group">
				<label for="nombre">Nombre</label>
				<div>
					<input class="form-control" type="text" id="nombre" th:field="*{nombre}" />
				</div>
				<div class="text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>
			</div>
			<div class="form-group">
				<label for="apellido">Apellido</label>
				<div>
					<input class="form-control" type="text" id="apellido" th:field="*{apellido}" />
				</div>
				<div class="text-danger" th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></div>
			</div>
			<div class="form-group">
				<label for="username">Username</label>
				<div>
					<input class="form-control" type="text" id="username" th:field="*{username}" />
				</div>
				<div class="text-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
			</div>
			<div class="form-group">
				<label for="password">Password</label>
				<div>
					<input class="form-control" type="password" id="password" th:field="*{password}" />
				</div>
				<div class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
			</div>
			<div class="form-group">
				<label for="email">Email</label>
				<div>
					<input class="form-control" type="text" id="email" th:field="*{email}" />
				</div>
				<div class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
			</div>
			<div class="form-group">
				<label for="cuenta">Cuenta</label>
				<div>
					<input class="form-control" type="number" id="cuenta" th:field="*{cuenta}" />
				</div>
				<div class="text-danger" th:if="${#fields.hasErrors('cuenta')}" th:errors="*{cuenta}"></div>
			</div>
			<div class="form-group">
				<label for="fechaNacimiento">Fecha Nacimiento</label>
				<div>
					<input class="form-control" type="date" id="fechaNacimiento" th:field="*{fechaNacimiento}" />
				</div>
				<div class="text-danger" th:if="${#fields.hasErrors('fechaNacimiento')}" th:errors="*{fechaNacimiento}">
				</div>
			</div>
			<input type="hidden" id="valorSecreto" th:field="*{valorSecreto}" />
			<div>
				<button type="submit" value="Enviar!" class="btn btn-primary">Enviar!</button>
			</div>
		</form>
	</div>
</body>

</html>